.recipe-frame-container {
  max-width: 150px;
  margin: 10px;
  background-image: url("/images/marco-receta.png");
  background-repeat: no-repeat;
  background-size: contain; /* o 'cover', según convenga */
  background-position: center;
  padding: 10px 23px; /* ajusta el padding para que el texto no quede pegado al marco */
  color: #444;
  font-family: "Georgia", serif;
  text-align: left;
  position: relative;
}

.carrot-deco {
  width: 40px;
  opacity: 0.8;
}
