.info-box {
  transition: transform 0.3s ease, background-color 0.3s ease;
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
  height: auto;
  min-height: 100px;
  text-align: center;
}

.info-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.info-box .info-hover {
  display: none;
}

.info-box:hover .info-default {
  display: none;
}

.info-box:hover .info-hover {
  display: block;
}
