.about-container {
  padding: 4rem 2rem;
  background-color: #e8e4b1;
}

.section-titlee {
  font-size: 2rem;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: #005a00; 
}

.section-description {
  max-width: 800px;
  font-family: 'Tangerine', cursive;
  margin: 0 auto 3rem auto;
  font-size: 2rem;
  color: #000400;
  text-align: center;
  line-height: 1.6;
}
.section-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem; 
  font-weight: bold;
  color: #005a00; 
  margin-bottom: 2px;
  text-align: center;
}


.team-section {
  margin-top: 2rem;
}

.team-carousel {
  display: flex;
  overflow-x: auto;
  overflow-y: visible;
  gap: 1rem;
  padding: 2rem 0;
  scroll-behavior: smooth;
  position: relative;
  z-index: 0;
  padding-bottom: 3rem;
}

.team-carousel::-webkit-scrollbar {
  height: 8px;
   background-color: #21630046;
}

.team-carousel::-webkit-scrollbar-thumb {
  background: rgba(0, 136, 2, 0.3);
  border-radius: 4px;
}

.team-card {
  min-width: 200px;
  background-color: #e8e4b1;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(38, 114, 0, 0.667);
  text-align: center;
  transition: transform 0.3s ease;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}

.team-card:hover {
  transform: translateY(-12px) scale(1.05);
  z-index: 10;
}

.team-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.8rem;
  border: 2px solid #095d00;
}

.team-name {
  font-size: 1.3rem;
  font-family: 'Darker Grotesque', sans-serif;
  margin-bottom: 0.8rem;
  color: #164a00;
}

.team-links a {
  text-decoration: none;
}

.github-btn, .linkedin-btn {
  background-color: #005a00;
  font-family: 'Allerta Stencil', sans-serif;
  color: #e8e4b1;
  border: none;
  margin: 0.3rem;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.github-btn:hover {
  background-color: #005a00;
}

.linkedin-btn {
  background-color: #005a00;
}

.linkedin-btn:hover {
  background-color: #005a00;
}
.about-description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.about-image {
  width: 280px;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

