.boton-hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease; /* Transición suave */
}

/* Efecto hover */
.boton-hover:hover {
  background-color: #3c3d3e;
  transform: translateY(-2px); /* Levanta el botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Efecto al hacer clic */
.boton-hover:active {
  transform: translateY(0);
  box-shadow: none;
}
